.navbar-nav {
  width: 100%;
  text-align: center;
}
.navbar {
  background-color: #000;
}
#parent {
  align-items: center;
}
.jumbotron {
  background-color: #fff;
}
body {
padding-top: 1em;
color: #fff;
}
